@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-primary: #ebc034;
}

@layer components{
    .container{
        @apply max-w-6xl mx-auto
    }

    .btn{
        @apply bg-primary hover:bg-primary/60 px-5 py-2 capitalize text-white rounded-md
    }
}