@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.sliders{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sliders img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.next, .prev{
    position: absolute;
    z-index: 1;
    top: 50%;
    font-size: 25px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.prev{
    left: 20px;
}

.next{
    right: 20px;
}

.next:hover, .prev:hover{
    background-color: rgba(251, 244, 244, 0.971);
    color: black;
    border-radius: 10%;
    opacity: 0.4;
}
.dotCOntainer{
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dotCOntainer .dot{
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
}

.dotCOntainer .active{
    background-color: red;
}

@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}

@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}