*{
    margin: 0;
    padding: 0;
}

body{
     background-color: aqua;
     height: 100vh;
     width: 100vw;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.container div {
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}