*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.box1{
    /*grid-row-start: 1;
     grid-column-start: 1;
     grid-row-end: 2;
    grid-column-end: 6; */

    /* row-start/column-start/row-end/column-end */
    grid-area: 1 / 1 / 2 / 6;
}

.box2{
    /* grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3; */
    grid-area: 2 / 1 / 4 / 3;
}

.box3{
    /* grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5; */
     grid-area: 2/3/3/5;
}

.box4{
    /* grid-row-start: 2;
    grid-column-start: 5;   
    grid-row-end: 4;
    grid-column-end: 6; */
    grid-area: 2/5/4/6;
}

.box5{
    /* grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 5; */
    grid-area: 3/3/5/5;
}

.box6{
    /* grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 3; */
    grid-area: 4/1/5/3;
}

.box7{
    /* grid-row-start: 4;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 6; */
    grid-area: 4/5/5/6;
}

.box8{
    /* grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 6; */
    grid-area: 5/1/6/6;

}